
@{
    ViewBag.Title = "Index";
}

<div class="form-group">
    @*<label class="col-sm-2 control-label">省市区</label>*@
    <div class="col-sm-3">
        <span class="">省级信息:</span>
        <select name="input_province" id="input_province" class="form-control">
            <option value="">--请选择--</option>
        </select>
       
        <div style="margin-top:10px;" class="col-sm-2 control-label"><input type="button" value="修改省级信息" id="update_province" class="btn-primary" /></div>
    </div>
    <div class="col-sm-3">
        <span class="text-center">市级信息:</span>
        @*<label class="col-sm-2 control-label">市级信息</label>*@
        <select name="input_city" id="input_city" class="form-control">
            <option value="">--请选择--</option>
        </select>
        <div style="margin-top:10px;" class="col-sm-2 control-label"><input type="button" value="修改市级信息" id="update_city" class="btn-primary" /></div>
    </div>
    <div class="col-sm-3">
        @*<label class="col-sm-2 control-label">地区级信息</label>*@
        <span class="">地区级信息:</span>
        <select name="input_area" id="input_area" class="form-control">
            <option value="">--请选择--</option>
        </select>
        <div style="margin-top:10px;" class="col-sm-2 control-label"><input type="button" value="修改地区级信息" id="update_region" class="btn-primary" /></div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="txt_departmentname">原名称</label>
                    <input type="text" name="txt_departmentname" class="form-control" id="txt_departmentname" placeholder="新名称">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    
    $(document).ready(function () {
         currentProvience = new Array();
         currentCity = new Array();
         currentRegion = new Array();
        var html = "";
        $("#input_city").append(html);
        $("#input_area").append(html);

        $.getJSON("/LevelLink/GetProvinces", null, function (data) {
            $.each(data, function (i, item) {
                //alert(item.province.Name);
                html += "<option value=" + item.Id + " >" + item.Name + "</option> ";
            });
            $("#input_province").append(html);
        });
    });
    $("#input_province").change(function () {
        if ($(this).val() == "") return;
        $("#input_city option").remove();
        $("#input_area option").remove();
        var provinceId = $(this).find("option:selected").val();
        var provinceName = $(this).find("option:selected").text();
        currentProvience[0] = provinceId;
        currentProvience[1] = provinceName;
        currentCity[0] = '';
        currentCity[1] = '';
        currentRegion[0] = '';
        currentRegion[1] = '';
        var html = "<option value=''>--请选择--</option>";
        $("#input_area option").append(html);

        $.getJSON("/LevelLink/GetCitys", { provinceId: provinceId}, function (data) {
            $.each(data, function (i, item) {
                html += "<option value=" + item.Id + " >" + item.Name + "</option> ";
            });
            $("#input_city").append(html);
        });
    });

    $("#input_city").change(function () {
        if ($(this).val() == "") return;
        $("#input_area option").remove();
        var cityId = $(this).find("option:selected").val();
       
        var html = "<option value=''>--请选择--</option>";

        $.getJSON("/LevelLink/GetRegions", { cityId: cityId }, function (data) {
            $.each(data, function (i, item) {
                html += "<option value=" + item.Id + " >" + item.Name + "</option> ";
            });
            $("#input_area").append(html);
        });
    });

    $("#update_province").click(function () {

        $("#myModalLabel").text("修改当前省名称");
        $('#myModal').modal();
        //$.ajax({
        //    type: 'post',
        //    url: '/LevelLink/GetRegions'
        //});
    });
    $("#update_city").click(function () {
        $("#myModalLabel").text("修改当前城市名称");
        $('#myModal').modal();
    });
    $("#update_region").click(function () {
        $("#myModalLabel").text("修改当前地区名称");
        $('#myModal').modal();
        currentProvience[0]
    });
</script>

